@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


html,
body{
    font-family: "Outfit";
    overflow-x: hidden;
}

a.active hr{
  display: block;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:1000px) {
  a.active{
    background-color: black;
    color: white;
  }
}

